<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Upload a PDF File</h1>
    <form action="http://localhost:3000/api/v1/pdf" method="POST" enctype="multipart/form-data">
        <input type="file" name="pdfFile" accept=".pdf">
        <button type="submit">Upload</button>
    </form>
</body>
</html>
